body{
    background-color:rgb(196, 235, 248);
}

/* NAV HEADER */
a.nav1:hover{
    background-color: yellow;
    color: red;
}
a.nav2:hover{
    background-color: yellow;
    color: red;
}
a.nav3:hover{
    background-color: yellow;
    color: red;
}


/* TITULO */
h1.titulo{
    text-align: center;
    color: rgb(89, 89, 199);
    font-weight: 100;
}
h1.titulo:first-letter{
    font-size: 4ch;
    color: black;
}

/* MENU */
nav{
    text-align: center;
    color: rgb(69, 69, 201);
}
nav a:link, a:visited, a:active {
    text-decoration:none;
}

/* PARRAFOS */
p.parrafo1:first-line{
    color: red;
}
p.parrafo2:first-line{
    color: red;
}



div a[href]{
    background-color: white;
    color: blue;
}
div a[href="https://www.apple.com/es/"]:visited{
    background-color: blue;
    color: white;
}
img.img1{
    width:250px ;
    height:250px;
    float: right;
}

/* FOOTER */
footer p{
    font-style: italic;
}